html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
}

.text-container {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  ;
  position: absolute;
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 136px;
  color: rgb(255, 123, 0);
  opacity: 1;
  mix-blend-mode: difference;
  text-shadow: 0px 0px 5px rgba(158, 0, 0, 0.7);
  
}

:root {
  --color-bg1: rgb(179, 234, 255);
  --color-bg2: rgb(209, 110, 255);
  --color1: 44, 6, 55;
  --color2: 90, 37, 83;
  --color3: 133, 50, 251;
  --color4: 190, 80, 138;
  --color5: 30, 112, 168;
  --color-interactive: 200, 50, 227;
  --circle-size: 80%;
  --blending: screen;
}

.g1 { --phase: 0s; }
.g2 { --phase: 1.2s; }
.g3 { --phase: 0.5s; }
.g4 { --phase: 2s; }
.g5 { --phase: 0.8s; }

@keyframes innerPulse {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.2); }
  50%  { transform: scale(0.9); }
  75%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}



.interactive {
  transition: none; /* Übergänge über JS transform */
}

/* Kollision: Bubble pulsiert/Verformung */
.g1.active::before, .g2.active::before, .g3.active::before, .g4.active::before, .g5.active::before {
  animation: innerMove 0.5s ease-in-out infinite, innerPulse 1s ease-in-out infinite;
  transform: scale(1.5); /* optional: größer bei Berührung */
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(20%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
  
}

@keyframes innerPulse {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.2); }
  50%  { transform: scale(0.9); }
  75%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@keyframes innerMove {
  0%   { transform: translate(0,0) scale(1); }
  25%  { transform: translate(10%, -5%) scale(1.1,0.9); }
  50%  { transform: translate(-10%, 15%) scale(0.9,1.2); }
  75%  { transform: translate(-5%, -10%) scale(1.15,0.85); }
  100% { transform: translate(0,0) scale(1); }
}

.g1::before, .g2::before, .g3::before, .g4::before, .g5::before {
  animation: innerMove 4s ease-in-out infinite;
}

/* Kollisionseffekt */
.g1.active::before, .g2.active::before, .g3.active::before, .g4.active::before, .g5.active::before {
  animation: innerMove 0.5s ease-in-out infinite, innerPulse 1s ease-in-out infinite;
  transform: scale(5); /* optional: größer bei Berührung */
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
  }


  .gradients-container {
    filter: url(#goo) blur(2px) brightness(1.7);
    ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending); 

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 20s ease infinite;

    opacity: 1;

      &::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    background: radial-gradient(circle at center, rgba(var(--color1), 1) 0, rgba(var(--color5), 0) 60%);
    border-radius: 50%;
    animation: innerPulse 2s ease-in-out infinite, innerMove 4s ease-in-out infinite;
    mix-blend-mode: inherit;
  }

  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: screen;

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;

    &::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    background: radial-gradient(circle at center, rgba(var(--color1), 1) 0, rgba(var(--color5), 0) 60%);
    border-radius: 50%;
    animation: innerPulse 2s ease-in-out infinite, innerMove 4s ease-in-out infinite;
    mix-blend-mode: inherit;
  }
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;

    &::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    background: radial-gradient(circle at center, rgba(var(--color2), 1) 0, rgba(var(--color4), 0) 60%);
    border-radius: 50%;
    animation: innerPulse 2s ease-in-out infinite, innerMove 4s ease-in-out infinite;
    mix-blend-mode: inherit;
  }
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;

    &::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    background: radial-gradient(circle at center, rgba(var(--color4), 1) 0, rgba(var(--color5), 0) 60%);
    border-radius: 50%;
    animation: innerPulse 2s ease-in-out infinite, innerMove 4s ease-in-out infinite;
    mix-blend-mode: inherit;
  }
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1.3);
    height: calc(var(--circle-size) * 1.7);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.75) 0, rgba(var(--color1), 0) 52%) no-repeat;
    mix-blend-mode: color-dodge;

    width: 50%;
    height: 50%;
    top: -25%;
    left: -25%;

    opacity: 0.8;
  }
}